.titel {
    text-align: center;
    color: aliceblue;
    height: 300px;
    line-height: 150px;
    h1 {
        font-size: 70px;
        font-weight: 600;
        background-image: linear-gradient(to left, #f2f1f6e4, #000000);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        text-shadow: 1px 1px 2px rgb(10, 10, 10), 0 0 1em rgb(239, 239, 245), 0 0 0.2em rgb(242, 242, 245);
      }
}


.image {
    background: url("assets/HomePageBack.jpg") no-repeat top center fixed;
    background-size: cover;
    width: 110%;
    height: 300px;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    margin-top: -10px;
    margin-left: -10px;
    margin-left: -10px;
}

.body {
    padding-bottom: 100px;
}

.body {
    height: auto;
    padding: 20px;
    width: 100%;

    flex-grow: 1;
    box-sizing: border-box;
}

.horizontal{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
    margin-bottom: 100px;

    p{
        width: 35%;
        padding-right: 2.5%;
        padding-left: 2.5%;
    }
    img {
        width: 35%;
        padding-left: 2.5%;
        padding-right: 2.5%;
    }
}

